_format_version: "3.0"

upstreams:
  - name: movies_upstream
    targets:
      - target: movies-service:8081
        weight: {{MOVIES_WEIGHT}}
      - target: monolith:8080
        weight: {{MONOLITH_WEIGHT}}

services:
  - name: movies-gateway
    host: movies_upstream
    port: 80
    protocol: http
    routes:
      - name: movies-route
        paths:
          - /api/movies
        strip_path: false

  # всё остальное -> монолит
  - name: monolith-gateway
    url: http://monolith:8080
    routes:
      - name: monolith-route
        paths:
          - /
        strip_path: false
